<%- include("partials/header.ejs") %>
<%- include("partials/sidebar.ejs") %>
<div>
    <h1>
        <% if (locals.message) {%>
            <%= locals.message %>
        <%}%>
    </h1>
<p>
    <% if (locals.addedAssetName && locals.addedAssetDate && locals.addedAssetEvent && locals.addedAssetQuantity) { %>
        <%= locals.addedAssetName %> Market <%= locals.addedAssetEvent %>: <br>
        <%= locals.addedAssetQuantity %> share(s) at $<%= locals.addedAssetPrice %> filled on <%= locals.addedAssetDate %> <%= locals.addedAssetTime %>
    <%}%>
</p>

<form action="/" method="GET">
    <input type="submit" value="Return">
</form>
</div>


<%- include("partials/footer.ejs") %>
