<%- include("partials/header.ejs") %>

<h1>Added to list</h1>
<p>
    <% if (locals.addedAssetName && locals.addedAssetDate && locals.addedAssetEvent && locals.addedAssetQuantity) { %>
        <%= locals.addedAssetName %> Market <%= locals.addedAssetEvent %>: <br>
        <%= locals.addedAssetQuantity %> share at $ 100 filled on <%= locals.addedAssetDate %>
    <%}%>
</p>

<form action="/" method="GET">
    <input type="submit" value="Return">
</form>

<%- include("partials/footer.ejs") %>
